body{
    width: 100%;
    height: 800px;
}
#left {
    position: relative;
    float: left;
    width: 29.5%;
    height: 100%;
}
#right {
    margin-left: 15px;
    position: relative;
    float: left;
    width: 69%;
    height: 100%;
    background-color: antiquewhite;
}
